@use './../mixins/breakpoint' as *;

.container {
  padding: 0 60px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    padding: 0 16px;
  }

  @include only-tablet {
    padding: 0 45px;
  }
}