<section class="clients">
  <div class="container">
    <div class="clients__text">
      <h2 class="clients__title">Нам доверяют <span class="clients__title-accent">500+</span> компаний</h2>
      <p class="clients__subtitle">Среди наших клиентов — компании из разных сфер, от молодых стартапов до признанных лидеров
        рынка.</p>
    </div>
    <ul class="clients__logos" aria-hidden="true">
      <li class="clients__logo">
        <img src="img/content/clients/001.png" alt="">
      </li>
      <li class="clients__logo">
        <img src="img/content/clients/image 86.png" alt="">
      </li>
      <li class="clients__logo">
        <img src="img/content/clients/image 87.png" alt="">
      </li>
      <li class="clients__logo">
        <img src="img/content/clients/image 89.png" alt="">
      </li>
      <li class="clients__logo">
        <img src="img/content/clients/image 90.png" alt="">
      </li>
      <li class="clients__logo">
        <img src="img/content/clients/image 91.png" alt="">
      </li>
    </ul>
  </div>
</section>
