<section class="cta">
  <div class="container">
    <div class="cta__card">
      <div class="cta__card-decor" aria-hidden="true">
        <img src="http://localhost:3845/assets/c882d50b9cec8d7e5fc49a60a4c76fd91504c254.png" alt=""
          class="cta__card-decor-img" width="487" height="488" />
      </div>
      <div class="cta__card-body">
        <h2 class="cta__title">Начните с аудита</h2>
        <p class="cta__subtitle">Получите технический анализ текущего сайта или КП на внедрение CRM</p>
        <form class="cta__form" action="#" method="post" novalidate>
          <div class="cta__form-row">
            <div class="cta__form-field">
              <input class="cta__input" type="text" name="name" placeholder="Ваше имя" autocomplete="name" />
            </div>
            <div class="cta__form-field">
              <input class="cta__input" type="tel" name="phone" placeholder="+7 (999) 999-00-00"
                autocomplete="tel" />
            </div>
          </div>
          <div class="cta__form-field cta__form-field--full">
            <input class="cta__input" type="url" name="site" placeholder="Ссылка на сайт" autocomplete="url" />
          </div>
          <button class="btn btn--primary cta__submit" type="submit">Отправить</button>
          <div class="cta__consent">
            <label class="cta__consent-label">
              <input class="cta__consent-checkbox" type="checkbox" name="consent" required />
              <span class="cta__consent-text">
                Нажимая на кнопку «Отправить», вы соглашаетесь с
                <a href="#" class="cta__consent-link">Правилами обработки персональных данных</a>
                и
                <a href="#" class="cta__consent-link">Политикой конфиденциальности</a>
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
