<section class="hero">

  <div class="container hero__inner">
    <span class="hero__bg-gradient hero__bg-gradient--green">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 6.svg')
    </span>
    <span class="hero__bg-gradient hero__bg-gradient--blue">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 7.svg')
    </span>
    <div class="hero__image-wrap" aria-hidden="true">
      <img src="img/hero-image.png" alt="" class="hero__image" width="672" height="555" />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Комплексная автоматизация бизнеса на базе Битрикс24</h1>
      <div class="hero__desc">
        <p class="hero__subtitle">От типовых внедрений Битрикс24 до сложных, комплексных кастомных решений: глубоко
          вникаем в ваш бизнес и отвечаем за результат</p>
        <div class="hero__actions">
          <a href="#" class="btn btn--secondary">Подобрать решение</a>
          <a href="#" class="link-arrow">
            Смотреть кейсы
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true">
              <path d="M0 7H22M16 1L22 7L16 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <ul class="hero__products">
      <li class="hero__product">
        <span class="hero__product-icon" aria-hidden="true">
          <img src="img/general/Group 70.png" alt="">
        </span>
        <span class="hero__product-title">Внедрение CRM</span>
      </li>
      <li class="hero__product">
        <span class="hero__product-icon" aria-hidden="true">
          <img src="img/general/Group 65.png" alt="">
        </span>
        <span class="hero__product-title">Сайт под ключ</span>
      </li>
      <li class="hero__product">
        <span class="hero__product-icon" aria-hidden="true">
          <img src="img/general/Group 67.png" alt="">
        </span>
        <span class="hero__product-title">Поддержка сайтов</span>
      </li>
      <li class="hero__product">
        <span class="hero__product-icon" aria-hidden="true">
          <img src="img/general/Group 77.png" alt="">
        </span>
        <span class="hero__product-title">Автоматизация</span>
      </li>
    </ul>
  </div>
</section>