<section class="products-services">
  <div class="container products-services__container">
    <span class="products-services-gradient products-services-gradient--green">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 6.svg')
    </span>
    <span class="products-services-gradient products-services-gradient--blue">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 7.svg')
    </span>
    <span class="products-services-gradient products-services-gradient--green-sec mobile">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 6.svg')
    </span>
    <span class="products-services-gradient products-services-gradient--blue-sec mobile">
      @include('../../partials/svg/gradients/main/main-block/Ellipse 7.svg')
    </span>
    <div class="products-services__head">
      <div class="products-services__text">
        <h2 class="products-services__title">Наши продукты и услуги</h2>
        <p class="products-services__subtitle">Мы не просто интегратор CRM. Мы оказываем комплексные услуги: от
          разработки и запуска проектов до всестороннего сопровождения.</p>
      </div>
      <a href="#" class="btn btn--primary products-services__btn desktop">Смотреть все услуги</a>
    </div>
    <ul class="products-services__grid">
      <li class="products-services__card products-services__card--wide">
        <div class="products-services__card-bg" aria-hidden="true">
          <img src="img/general/our-services/Group 1.png" alt="" class="products-services__card-bg-img">
        </div>
        <h3 class="products-services__card-title">Тарифы и лицензии</h3>
        <p class="products-services__card-desc">Предоставляем и продлеваем лицензии 1С-Битрикс и Битрикс24. Поможем
          подобрать лучший вариант с учётом особенностей вашего бизнеса и выгодно продлить действующую лицензию.</p>
        <a href="#" class="products-services__card-link">Подробнее</a>
      </li>
      <li class="products-services__card">
        <div class="products-services__card-bg" aria-hidden="true">
          <img src="img/general/our-services/Group 59.png" alt="" class="products-services__card-bg-img">
        </div>
        <h3 class="products-services__card-title">Создание сайта</h3>
        <p class="products-services__card-desc">Поможем с разработкой сайта на Битрикс. Проведём аудит, учтём специфику
          вашего бизнеса и сделаем эффективный инструмент продвижения, адаптированный под любые устройства.</p>
        <a href="#" class="products-services__card-link">Подробнее</a>
      </li>
      <li class="products-services__card">
        <div class="products-services__card-bg" aria-hidden="true">
          <img src="img/general/our-services/Group 60.png" alt="" class="products-services__card-bg-img">
        </div>
        <h3 class="products-services__card-title">Интеграции</h3>
        <p class="products-services__card-desc">Интегрируем ваш бизнес с 1C, Tilda, WordPress, телефонией, чат-ботами и
          другими сервисами. Объединим каналы продаж, поможем настроить воронки.</p>
        <a href="#" class="products-services__card-link">Подробнее</a>
      </li>
      <li class="products-services__card">
        <div class="products-services__card-bg" aria-hidden="true">
          <img src="img/general/our-services/Group 61.png" alt="" class="products-services__card-bg-img">
        </div>
        <h3 class="products-services__card-title">Поддержка сайтов</h3>
        <p class="products-services__card-desc">Предоставим хостинг, поможем ускорить работу, защитим от вирусов и
          предоставим инструменты для продвижения.</p>
        <a href="#" class="products-services__card-link">Подробнее</a>
      </li>
      <li class="products-services__card">
        <div class="products-services__card-bg" aria-hidden="true">
          <img src="img/general/our-services/Group 62.png" alt="" class="products-services__card-bg-img">
        </div>
        <h3 class="products-services__card-title">Документооборот</h3>
        <p class="products-services__card-desc">Ускорим HR-процессы, внедрим кадровый ЭДО, упростим подписание договоров
          и других документов.</p>
        <a href="#" class="products-services__card-link">Подробнее</a>
      </li>
    </ul>
    <div class="products-services__btn-container only-tablet">
      <a href="#" class="btn btn--primary products-services__btn">Смотреть все услуги</a>
    </div>
    <div class="products-services__btn-container mobile">
      <a href="#" class="btn btn--primary products-services__btn">Смотреть все услуги</a>
    </div>
  </div>
</section>